<%= form_for(@diagnosis, class: 'diagnosis-form') do |f| %>
  <div class="diagnosis-container">
    <div class="question">
      <p>Q1. 一人旅には…</p>
      <div class="options">
        <label for="q1_1">
          <%= f.radio_button :question1, "1", id: "q1_1" %>
          慣れていない
        </label>
        <label for="q1_2">
          <%= f.radio_button :question1, "2", id: "q1_2" %>
          慣れている
        </label>
      </div>
    </div>

    <div class="question">
      <p>Q2. 今回の旅行では…</p>
      <div class="options">
        <label for="q2_1">
          <%= f.radio_button :question2, "1", id: "q2_1" %>
          ゆっくりして癒されたい
        </label>
        <label for="q2_2">
          <%= f.radio_button :question2, "2", id: "q2_2" %>
          体を動かしてリフレッシュしたい
        </label>
      </div>
    </div>

    <div class="question">
      <p>Q3. どちらかといえば…</p>
      <div class="options">
        <label for="q3_1">
          <%= f.radio_button :question3, "1", id: "q3_1" %>
          まず行動する方だ
        </label>
        <label for="q3_2">
          <%= f.radio_button :question3, "2", id: "q3_2" %>
          じっくり考える方だ
        </label>
      </div>
    </div>

    <div class="question">
      <p>Q4.  興味が惹かれるのは…</p>
      <div class="options">
        <label for="q4_1">
          <%= f.radio_button :question4, "1", id: "q4_1" %>
          食べ物がおいしい
        </label>
        <label for="q4_2">
          <%= f.radio_button :question4, "2", id: "q4_2" %>
          景色がきれい
        </label>
      </div>
    </div>

    <div class="submit-wrapper">
      <%= f.submit "診断する", class: 'cuty-button' %>
    </div>
  </div>
<% end %>
