<%= stylesheet_link_tag 'index', media: 'all' %>

<div class="colored-band"></div>

<div class="slideshow-wrapper">
  <div class="slideshow">
    <img src="<%= asset_path('top1.jpg') %>" class="slide active">
    <img src="<%= asset_path('top2.jpg') %>" class="slide">
  </div>
</div>

<div class="diagnose">
<h3>～旅行プラン診断～</h3>
<h4>
あなたにぴったりの旅行プランの立て方が見つかります。<br>
</h4>
<%= link_to "スタート", new_diagnosis_path, class: 'cuty-button' %>
</div>

<img src="<%= asset_path('line.jpg') %>" alt="区切り線" class="divider">

<div class="title">
  <h3>おすすめスポット</h3>
</div>
<ul class="t-list">
    <%= link_to "新規投稿", new_tweet_path, class: "t-link" %>
</ul>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
  <ul class="tag-list">
    <% Tag.all.each do |t| %>
      <li>
        <label class="tag-label">
          <%= check_box :tag_ids, t.name %><%= t.name %>
        </label>
      </li>
    <% end %>
  </ul>

  <div class="button-wrapper">
    <%= submit_tag '検索', class: 'search-button' %>
  </div>
<% end %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <% if t.image.attached? %>
          <%= image_tag t.image, size: '250x200'%>
      <% end %>
      
      <p class="place-name"><%= t.name %></p>
      <p>所在地：<%= t.adress %></p>

      
      <div class="tag-group">
        <% t.tags.each do |tag| %>
          <span class="tag-badge">#<%= tag.name %></span>
        <% end %>
      </div>


    <% if user_signed_in? %>
      <% if current_user&.already_liked?(t) %>
        <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete, class: 'like-button' do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% else %>
        <%= button_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post, class: 'like-button' do %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <span class="like-button">
        <i class="far fa-heart"></i><%= t.likes.count %>
      </span>
    <% end %>


     <p class="detail-link"><%= link_to "詳細へ", tweet_path(t.id) %></p>
    </div>
  <% end %>
</div>